body {
    background-color: rgb(102, 127, 168);
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 236, 252);
    height: 100%;
    border-radius: 6px;
    margin: 75px 55px 75px 55px;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-picture {
    max-height: 350px;
    width: auto;
}

.previous-work {
    display: flex;
    flex-direction: row;
}

.pin-dropper {
    height: 200px;
    margin-right: 15px;
    background-color: rgb(41, 66, 112);
}

.cmarks {
    height: 200px;
    background-color: rgb(41, 66, 112);
}

#pin-dropper {
    height: 200px;
}

#cmarks {
    height: 200px;
}

#pin-dropper:hover {
    cursor: pointer;
    opacity: .25;
}
#cmarks:hover {
    cursor: pointer;
    opacity: .25;
}